@charset "UTF-8";
/*variables*/
/*general*/
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/*Header*/
header {
  position: relative;
  /*au dessus de */
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}
header .logo {
  height: 30px;
  margin: 20px auto 20px auto;
}

main {
  width: 100%;
}

/*localisation*/
.localiser {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  align-items: center;
}
.localiser i {
  margin: 15px 15px 15px 15px;
}
.localiser h3 {
  font-size: 90%;
}

/*Section Explorer*/
.explorer {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 270px;
  text-align: center;
}
.explorer h1 {
  margin: 15px 15px 0px 15px;
}
.explorer p {
  margin: 0px 15px 0px 15px;
}
.explorer .btn-explorer {
  height: 50px;
  width: 250px;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.explorer .btn-explorer:hover {
  background: #ff83dd;
  box-shadow: 4px 6px 10px #000000;
  transition: 0, 3s;
}

/*titre section*/
h1 {
  margin-left: 10px;
  padding-top: 20px;
}

/*Section Fonctionnement*/
.section_fonctionnement {
  margin-bottom: 20px;
}

.liste_fonctionnement {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin-left: 18px;
}
.liste_fonctionnement .fonctionnement {
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin: 5px 10px 10px 10px;
  height: 60px;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.liste_fonctionnement .fonctionnement:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 4px 6px 10px #000000;
  background: #f2eafb;
}
.liste_fonctionnement .fonctionnement:hover i {
  color: #9356DC;
}
.liste_fonctionnement .fonctionnement .numero {
  background-color: #9356DC;
  font-size: 70%;
  color: white;
  position: absolute;
  padding: 5px 8px 5px 8px;
  border-radius: 100%;
  transform: translateX(-50%);
  /* pour decaler le numero*/
}

.block_fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
.block_fonctionnement i {
  color: #7E7E7E;
}
.block_fonctionnement h3 {
  margin-left: 30px;
  font-size: 90%;
}

/*Section Restaurants*/
.section_restaurant {
  background-color: #F6F6F6;
  width: 100%;
  height: 1000px;
}

.liste_restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
}
.liste_restaurants a {
  width: 90%;
  max-width: 350px;
}
.liste_restaurants a .carte_restaurant {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  position: relative;
  /*"nouveau"*/
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.liste_restaurants a .carte_restaurant:hover {
  transition: 0.5s;
  transform: scale(1.02);
}

.image_restaurant img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 140px;
  object-fit: cover;
  margin: auto;
  width: 100%;
}

.nouveau {
  position: absolute;
  /* "nouveau" au dessus et dedans*/
  right: 15px;
  background-color: #99E2D0;
  color: green;
  font-size: 70%;
  padding: 5px 8px 5px 8px;
}

.info_restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_restaurant .info {
  display: flex;
  flex-direction: column;
}
.info_restaurant .info h2 {
  margin: 10px 0px 0px 10px;
  font-size: 90%;
}
.info_restaurant .info p {
  margin: 0px 0px 0px 10px;
  font-size: 75%;
  font-weight: lighter;
}
.info_restaurant .coeur {
  margin-right: 5%;
}
.info_restaurant .coeur:hover {
  color: #9356DC;
  transition: opacity 800ms;
  /*revoir animation*/
}

/*PAGES MENUS*/
.header_menu {
  position: relative;
  /*au dessus de */
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 0px;
  /*voir pour faire passer dessus localistaion*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu .logo_menu {
  height: 30px;
  margin: 20px 20px 20px 20px;
}
.header_menu a {
  position: absolute;
  /*pour garder logo au milieu*/
  left: 35px;
}

.main_menu {
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
}

.page_menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page_menu .img_menu {
  width: 100%;
  max-width: 800px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.menu {
  margin-top: -50px;
  width: 100%;
  max-width: 800px;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}
.menu .titre_menu {
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.menu .titre_menu h2 {
  font-family: "Shrikhand", cursive;
  margin-left: -40px;
}
.menu .titre_menu i {
  margin-right: -30px;
}
.menu .titre_menu i:hover {
  color: #9356DC;
  transition: opacity 800ms;
  /*revoir animation*/
}
.menu .bloc_menu {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  margin: auto 10px auto 10px;
  width: 90%;
  max-width: 600px;
}
.menu .bloc_menu h3 {
  margin-left: 15px;
  font-weight: 300;
  text-transform: uppercase;
}
.menu .bloc_menu h3::after {
  content: ".";
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  display: block;
  font-size: 0px;
}
.menu .bloc_menu .bloc_choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}
.menu .bloc_menu .choix_menu {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  /*animation slide*/
  /*voir pour text si coupé comment faire ...*/
}
.menu .bloc_menu .choix_menu .info_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10px;
  min-height: 100%;
  width: 85%;
  overflow: hidden;
}
.menu .bloc_menu .choix_menu .info_menu h4 {
  margin: 5px 0 5px 0;
  transition: white-space 400ms, overflow 400ms, text-overflow 400ms;
}
.menu .bloc_menu .choix_menu .info_menu p {
  margin: 0;
  transition: white-space 400ms, overflow 400ms, text-overflow 400ms;
}
.menu .bloc_menu .choix_menu .prix_menu {
  align-self: flex-end;
  margin-right: 10px;
  transition-duration: 1000ms;
}
.menu .bloc_menu .choix_menu .menu_valide {
  height: 100%;
  padding: 0px 20px 0px 20px;
  color: white;
  background-color: #99E2D0;
  margin-right: -90px;
  transition: transform 1000ms;
}
.menu .bloc_menu .choix_menu .menu_valide i {
  font-size: 30px;
  transform: rotate(180deg);
  transition: transform 1000ms;
  margin-top: 30px;
}
.menu .bloc_menu .choix_menu:hover {
  box-shadow: 4px 6px 10px #000000;
  cursor: pointer;
}
.menu .bloc_menu .choix_menu:hover .info_menu {
  overflow: hidden;
  /*h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
  }
  p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }*/
}
.menu .bloc_menu .choix_menu:hover .prix_menu {
  margin-right: 120px;
}
.menu .bloc_menu .choix_menu:hover .menu_valide {
  transform: translate(-90px, 0);
  /*animation validation*/
}
.menu .bloc_menu .choix_menu:hover .menu_valide i {
  transform: rotate(360deg);
}
.menu .btn-commander {
  align-self: center;
  margin: 20px auto 70px auto;
  height: 50px;
  width: 250px;
  border: none;
  cursor: pointer;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.menu .btn-commander:hover {
  background: #ff83dd;
  box-shadow: 4px 6px 10px #000000;
  transition: 0, 3s;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  width: 100%;
  padding-bottom: 30px;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 80%;
  margin: 15px 0px 5px 15px;
}
footer .bloc_lien_footer {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
footer .bloc_lien_footer a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 75%;
  margin: 0px 0px 5px 0px;
}
footer .bloc_lien_footer a i {
  font-size: 10px;
  width: 10px;
}
footer .bloc_lien_footer a p {
  margin: 0px 0px 0px 0px;
}

.p_footer {
  padding-left: 5px;
}

/*tablette et desktop*/
@media only screen and (min-width: 600px) {
  .section_fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .section_restaurant h1 {
    padding: 0;
  }
  .section_restaurant .liste_restaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section_restaurant .liste_restaurants a {
    margin: 14px;
  }

  footer {
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
